# /data/MOSEI/Raw/*
# /data/MOSI/Raw/*
# /data/SIMS/Raw/*
# /data/MOSEI/wav/*
# /data/MOSI/wav/*
# /data/SIMS/wav/*
/data/*
/test/*
/checkpoint/*
/temp
/log
/logs
/Out
/LLM/*
/results
/utils/__pycache__